<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FirebaseProject</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap" rel="stylesheet">

    <style type="text/css">
        body {
                font-family: 'Noto Sans KR', sans-serif;
             }
    </style>
</head>

<body>
    <h1>Login Page</h1>
    <form action="http://218.157.107.140:8000/login" method="POST">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label style="color: red;">  id/비밀번호를 확인해 주세요</label><p></p>

        <input type="submit" value="submit">
        <a href="http://218.157.107.140:8000/join">계정이 없으신가요?</a>
    </form>

</body>
</html>