<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirebaseProject</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap" rel="stylesheet">

    <style type="text/css">
        body {
                font-family: 'Noto Sans KR', sans-serif;
             }
    </style>
</head>
<body>
        <h1>Signup Page</h1>
        <form action="http://218.157.107.140/signup" method="POST">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="password">Nicknames:</label>
        <input type="text" id="display_name" name="display_name" required><br>

        <input type="submit" value="submit">
</body>
</html>